{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Different Food</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Dishes</h2>
  <p>Some different food.</p>
  <div class="row">
    {% for dish in dishes.dishes %}
      <div class="col">
        <img src="img/{{ dish.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="dishes/{{ dish.slug }}.html">{{ dish.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}